{% extends "base.html" %}

{% block content %}

	<h3 class="center-align">Who's Playing?</h3>
	
	<div class="row">
		<form class="col s12" method="POST" action="{{ url_for('register') }}">
			<div class="card-panel">
				<div class="row">
					<div class="input-field col s12">
						<i class="fas fa-users prefix"></i>
						<input id="team_name" name="team_name" type="text" class="validate" required>
						<label for="team_name">Team Name</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user prefix"></i>
						<input id="first_member" name="first_member" type="text" class="validate" required>
						<label for="first_member">First Member Name</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user prefix"></i>
						<input id="second_member" name="second_member" type="text" class="validate">
						<label for="second_member">Second Member Name</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="password" name="password" type="password" class="validate" required>
						<label for="password">Password</label>
					</div>
				</div>
				<div class="row">
					<button class="col btn s12" type="submit">Get Started! <i class="fas fa-share-square"></i>
			            </button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}